@page
@model BikeShopDSD605.Pages.Staff.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Staffs</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Staffs.StaffId" />
            <div class="form-group">
                <label asp-for="Staffs.Name" class="control-label"></label>
                <input asp-for="Staffs.Name" class="form-control" />
                <span asp-validation-for="Staffs.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Staffs.Phone" class="control-label"></label>
                <input asp-for="Staffs.Phone" class="form-control" />
                <span asp-validation-for="Staffs.Phone" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Staffs.Email" class="control-label"></label>
                <input asp-for="Staffs.Email" class="form-control" />
                <span asp-validation-for="Staffs.Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Staffs.Role" class="control-label"></label>
                <input asp-for="Staffs.Role" class="form-control" />
                <span asp-validation-for="Staffs.Role" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
