@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<!-- banner -->
<div class="banner">
    <div class="w3ls-slider">
        <div class="header-top">
            <div class="container banner-drop">
                <div class="agile-logo">
                    <h1><a href="index.html">Welcome<span>to</span></a></h1>
                </div>
                <div class="page-header__content">
                    <div class="text-bg">
                        <svg>
                            <defs>
                                <mask id="mask" x="0" y="0" width="100%" height="100%">
                                    <rect id="alpha" x="0" y="0" width="100%" height="100%" />
                                    <text id="title1" x="50%" y="30%" dy="1em" letter-spacing="0.02em">Bike Shop</text>
                                </mask>
                                <mask id="mask-2" x="0" y="0" width="100%" height="100%">
                                    <rect id="alpha-2" x="-66%" y="0" width="85%" height="100%" transform="skewX(40)" />
                                    <text id="title2" x="50%" y="30%" dy="1em" letter-spacing="0.02em">Bike Shop</text>
                                </mask>
                                <mask id="mask-3" x="0" y="0" width="100%" height="100%">
                                    <rect id="alpha-3" x="-66%" y="0" width="70%" height="100%" transform="skewX(40)" />
                                    <text id="title3" x="50%" y="30%" dy="1em" letter-spacing="0.02em">Bike Shop</text>
                                </mask>
                            </defs>
                            <rect id="base" x="0" y="0" width="100%" height="100%" mask="url(#mask)" />
                            <rect id="base-3" x="0" y="0" width="100%" height="100%" mask="url(#mask-2)" />
                            <rect id="base-4" x="0" y="0" width="100%" height="100%" mask="url(#mask-3)" />
                            <text id="title4" x="50%" y="30%" dy="1em" letter-spacing="0.02em">Bike Shop</text>
                        </svg>
                    </div>
                </div>


                <!--banner Slider starts Here-->
            </div>
        </div>
    </div>
</div>

<!-- //banner -->
<!-- services -->
<div class="services">
    <div class="container">
        <div class="w3layouts-services-heading">
            <h2>Welcome to our Stock and Sales Database</h2>
        </div>
        <div class="w3-services-grids">
            <div class="col-md-3 w3l-services-grid">
                <div class="w3ls-services-img">
                    <i class="fa fa-male" aria-hidden="true"></i>
                </div>
                <div class="agileits-services-info">
                    <h4>Enter Stock</h4>
                    <p>Enter Stock and view stock to the database </p>
                </div>
            </div>
            <div class="col-md-3 w3l-services-grid">
                <div class="w3ls-services-img">
                    <i class="fa fa-bicycle" aria-hidden="true"></i>
                </div>
                <div class="agileits-services-info">
                    <h4>Make a Sale</h4>
                    <p>Make a Sale, view Sales and enter sales to the database. </p>
                </div>
            </div>
            <div class="col-md-3 w3l-services-grid">
                <div class="w3ls-services-img">
                    <i class="fa fa-cog" aria-hidden="true"></i>
                </div>
                <div class="agileits-services-info">
                    <h4>Staff</h4>
                    <p>Add and edit staff. </p>
                </div>
            </div>
            <div class="col-md-3 w3l-services-grid">
                <div class="w3ls-services-img">
                    <i class="fa fa-female" aria-hidden="true"></i>
                </div>
                <div class="agileits-services-info">
                    <h4>Customers</h4>
                    <p>Enter Customers to the database. </p>
                </div>
            </div>
            <div class="clearfix"> </div>
        </div>
    </div>
</div>
<!-- //services -->